/* .resume_template{
   width: 40vw;
   height: 100%;
   background-color: white;
   padding: 10px;
}

.resume_template hr{
    width: 400px;
    margin: 20px auto;
    
}

.header{
    width: 100%;
}

.header h1{

}

.header p{
    font-size: small;
    color: rgb(56, 56, 214);
}


.ContactInfo{
    display: flex;
    justify-content: space-between;
}

.ContactInfo p:nth-child(2){
    width: 100px;
}

 */


 .resume_template {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ContactInfo {
    margin-top: 10px;
  }
  
  .rightSide {
    display: flex;
    justify-content: space-between;
  }
  
  .leftSide {
    width: 40%;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  h1, h2, h3 {
    margin-bottom: 5px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  .EducationSection, .ExperienceSection {
    width: 55%;
  }
  
  hr {
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #ccc;
  }
  
  /* Styling links */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  