.resume_template1 {
  max-width: 900px;
  height: 1260px;
  /* margin: 20px auto; */
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.DownloadPdf{
  height: 40px;
  width: 210px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
}
.DownloadPdf:hover{
  border-right: 3px solid red;
  border-left: 3px solid red;

}

.ToDownLoadFlex{
  width: 100%;
  /* background-color:aliceblue; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* height: 100%; */
  

}

.TopSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 10%;
  padding: 20px;
  padding-left: 35px;
}

.NamePost h1 {
  font-size: 28px;
  margin: 0;
}

.sideDesign {
  width: 30px;
  height: 100%;
}

.summary p {
  font-size: 16px;
  color: #555;
}

.BottomSide {
  display: flex;
  height: 90%;
  gap: 10%;
  justify-content: space-between;
  margin-right: 3%;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 27%;
  /* background-color: red; */
  
}

.asidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin-left: 3%;
}
.skillSec{
  /* background-color: rebeccapurple; */
  height: 30%;
  width: 100%;
}

.skillSec ul {
  list-style-type: none;
  padding: 0;
}

.skillSec ul li {
  margin-bottom: 8px;
}

.contactSec{
  /* background-color: rgb(129, 98, 98); */
  width: 100%;
  height: 30%;
}

.contactSec a{
 text-decoration:0.0001px solid underline;
  cursor: pointer;
 
}

.contactSec p {
  margin: 8px 0;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 62%;

  
}

.descriptionEx {
  word-wrap: break-word;
}

.Experience{
  /* background-color: rgb(159, 142, 176); */
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}



.Education{
  width: 100%;
  height: 30%;
  /* background-color: rgb(147, 130, 164); */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Education h3{
  font-size: 30px;
}




.Education h4, .Experience h4 {
  /* font-size: ; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.ColorFonts{
  height: 50px;
  width: 100%;
  border-radius: 7px;
  margin-top: 30px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}