.resume_template{
   width: 40vw;
   height: 100%;
   background-color: white;
   padding: 10px;
}

.resume_template hr{
    width: 400px;
    margin: 20px auto;
    
}

.header{
    width: 100%;
}

.header h1{

}

.header p{
    font-size: small;
    color: rgb(56, 56, 214);
}


.ContactInfo{
    display: flex;
    justify-content: space-between;
}

.ContactInfo p:nth-child(2){
    width: 100px;
}


