.SelectTemp img{
    width: 250px;
    
}

.SelectTemp{
    display: flex;
    flex-direction: column;
    gap: 165px;
    align-items: center;
    margin-top: 55px;
}

.Templates{
    display: flex;
    gap: 30px;
}

.img1{
    height: 324px;
}

.link {
    color: #2c3e50;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.Templates img:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 8px -4px lightblue;
}


