.SelectTemp img{
    width: 250px;
    
}

.SelectTemp{
    display: flex;
    flex-direction: column;
    gap: 165px;
    align-items: center;
    margin-top: 55px;
    background-image: url('../../assets/leftBgI.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.SelectMessage{
    position: absolute;
    top: 0;
    z-index: 1;
}



.tempBox img{
    height: 325px;
    border: 1px solid black;
    
}





.link {
    color: #2c3e50;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.Templates img:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 8px -4px lightblue;
}


