#Fonts {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

/* #Fonts::after {
    content: '\25BC'; 
    position: absolute;
    right: 10px;
    top: calc(50% - 10px); 
    pointer-events: none; 
} */


#Fonts option {
    padding: 10px;
    background-color: #ffffff;
    color: #333;
}

#Fonts:hover {
    border-color: #7c7a7a;
}

#Fonts:focus {
    border-color: #666;
}

#Fonts option[selected] {
    background-color: #e9e9e9;
    font-weight: bold;
}

#Fonts {
    position: relative;
}

select::-ms-expand {
    display: none;
}

