.ResumeInputFromUser {
  font-family: Arial, sans-serif;
  min-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 30px #8697C4;
}

.CreatingResume{
   
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 16px;
  

}

.CreatingResume:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}




.educationbar{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  
}


.add-section button {
  width: 200px;
  height: 30px;
  border: none;
  background-image: linear-gradient(to right, lightblue, rgb(67, 67, 174));
  animation-name: btnReverse;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes btnAnimation {
  from{
  border-radius: 50px 20px 50px 20px;

  }
  to{
  border-radius: 20px 50px 20px 50px;

  }
}

.add-section button:hover {
  background-color: #0056b3;
}


.additional-section h3 {
  margin-bottom: 10px;
}

.additional-section input {
  width: 100%;
  padding: 8px;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  margin-bottom: 10px;
}

.additional-section textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}





