.EducationOfStudents {
    background-color: #f8f9fa;
    border: 2px solid #8697C4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 4px;
  }
  
  .EducationOfStudents h1 {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 20px;
  }
  
  .InputField {
    margin-bottom: 15px;
  }
  
  .InputField label {
    display: block;
    font-size: 16px;
    color: #495057;
  }
  
  .InputField input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .InputField input[type="text"]:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  